#chat_control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top:20px
}

#input_mess{
    width: 97%;
}

input {
    padding: 20px;
    border: none;
    width: 100%;
    background: none;
    background-color: white;
    height: auto;
}