<div id="parents">
    <img src="../../../../assets/images/mess.svg" style="margin-bottom: 80px;">
    <h2 style="margin-bottom: 150px;">Connect with your favorite people</h2>
    <div id="container">
        <button id="btnLogin" (click)="login()">Login with Google</button>
    </div>
    <div class="footer">
        <a href ="https://www.facebook.com/r.php"> Not on Facebook</a>
        <a href ="https://www.facebook.com/login/identify?ctx=recover"> Forgotten password</a>
        <a href="https://www.facebook.com/privacy/policy/">Privacy Policy</a>
        <a href="https://www.facebook.com/legal/terms/">Terms</a>
        <a href="https://www.facebook.com/policies/cookies/">Cookies Policy</a>
        <a> © Meta 2023</a>
    </div>
</div>